<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/styles/main-interface.css" />
    <link rel="stylesheet" href="/styles/table.css" />
    <link rel="stylesheet" href="/styles/quote.css" />
  </head>
  <body>
    <!--TOP BAR-->
    <div class="top-bar p-4">
      <h1 class="font-bold">Quote System</h1>
    </div>

    <!--MAIN SECTION-->
    <div class="main-section">
      <!--QUOTE LIST-->
      <div class="quote-list p-4">
        <button command="show-modal" commandfor="create-quote" class="btn mb-4">Create Quote</button>
        <dialog id="create-quote" class="inset-0 m-auto p-6 rounded-md min-w-md">
          <h2 class="mb-4 font-bold text-lg">Create Quote</h2>
          <form action="/quotes" method="POST">
            <div class="flex flex-col gap-4">
            <input
              type="text"
              id="description"
              name="description"
              class="input"
              />
            <select name="customer" id="customer-select" class="select">
              <option value="1">Nick Iacullo</option>
            </select>
            </div>
            <button commandfor="create-quote" command="close" type="button" class="btn">Close</button>
            <button id="submitQuote" type="submit" class="btn btn-primary">Submit</button>  
          </form>

        </dialog>
        
        <br />
        <form action="/quotes" method="GET" class="mb-2">
          <input
            type="text"
            id="search"
            name="search"
            placeholder="Search Quotes"
            class="input"
          />

          <button id="searchQuotes" type="submit" class="btn">Search</button>
        </form>
        <table>
          <colgroup>
            <col style="width: 10%" />
            <col style="width: 40%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
          </colgroup>

          <thead>
            <tr>
              <th>Quote Id</th>
              <th>Description</th>
              <th>Customer</th>
              <!-- <th>Price</th> -->
              <!-- <th>Associate</th> -->
              <th>Status</th>
              <th>View</th>
            </tr>

            <% quotes.forEach(function(quote){ %>
            <tr>
              <td><%= quote.id %></td>
              <td><%= quote.description %></td>
              <td><%= quote.customer.name %></td>
              <!-- <td>$<%= quote.price %></td> -->
              <!-- <td><%= quote.associate %></td> -->
              <td><%= quote.status %></td>
              <td>
                <a
                    href="<%= (() => {
                      const params = new URLSearchParams();
                      for (const [name, value] of Object.entries(req.query)) {
                        params.set(name, value);
                      }
                      params.set("id", quote.id);
                      return "?" + params.toString();
                    })() %>"
                    <% if (selectedQuote) { %>
                    onclick="
                      event.preventDefault();
                      const params = new URLSearchParams(window.location.search);
                      params.set('id', '<%= quote.id %>')
                      window.location.replace('?' + params.toString());
                    "
                    <% } %>
                  >View</a>
              </td>
            </tr>
            <% }); %>
          </thead>
        </table>
      </div>

      <!--DIVIDER-->
      <div class="vl"></div>

      <!--QUOTE VIEW-->
      <% if (selectedQuote) { %>
      <div class="quote-view">
        <div class="quote-id">
          <h2>
            Quote #
            <%= selectedQuote.id %>
          </h2>
        </div>

        <div class="quote-details">
          <div class="customer-details">
            <hr />
            <ul>
              <li><%= selectedQuote.customer.name %></li>
              <li>Customer Phone #</li>
              <li><%= selectedQuote.customer.email %></li>
              <li><%= selectedQuote.customer.address %></li>
            </ul>
          </div>

          <div class="line-items">
            <table>
              <colgroup>
                <col style="width: 10%" />
                <col style="width: 70%" />
                <col style="width: 20%" />
              </colgroup>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Line Item</th>
                  <th>Price</th>
                </tr>
              </thead>

              <% for (const lineitem of selectedQuote.lineitems) { %>
              <tr>
                <td><%= lineitem.id%></td>
                <td><%= lineitem.description %></td>
                <td><%= lineitem.price %></td>
              </tr>
              <% } %>
            </table>
          </div>

          <div class="notes">
            <div id="notes">
              <h2>Notes</h2>
            </div>
              <ul>
                <% for (const note of selectedQuote.notes) { %>
                  <li><%= note.description %></li>
                <% } %>
              </ul>
          </div>

          <div class="finalize">
            <form action="/quotes/<%= selectedQuote.id %>/finalize" method="POST">
              <button id="finalizeQuote" type="submit">Finalize Quote</button>
            </form>
            <p>Finalized: <%= selectedQuote.is_finalized %></p>
          </div>

          <div class="price">
            <div id="price">
              <h2>
                <span>Total: </span>
                <span>
                  <%= selectedQuote.lineitems.reduce((acc, item) => acc +
                  item.price, 0) %>
                </span>
              </h2>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
